.layout{
    display: flex;
    width: 100%;
}
.layout-horizontal{
    flex-flow: row wrap;
}
.layout-horizontal, .layout-vertical{
    margin-left: -5px;
    counter-reset: brick;
}
.layout-brick{
    overflow: hidden;
    border-radius: 5px;
    margin: 0 0 10px 10px;
    position: relative;
    display: block;
}
.layout-brick-horizontal{
    flex: auto;
    max-height: 400px;
    min-width: 200px;
}
.layout-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}